/*------- For form input elements validation styling -------*/

#signin-box .input-container .css-form input.ng-invalid.ng-dirty {
    border: 1px solid #FA787E;
    box-shadow: 0 0 3px #FA787E;
}
 
#signin-box .input-container .css-form input.ng-valid.ng-dirty {
    border: 1px solid #78FA89;
    box-shadow: 0 0 3px #78FA89;
}
