<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
  <div class="content">
    <sidebar></sidebar>
    <div class="common-div">
      <div id="account-settings-nav">
        <span id="account-settings-span">Settings</span>
        <a href="/#/notification-settings"><span class="account-settings-hover">Notifications</span></a>
        <a href="/#/privacy"><span class="account-settings-hover">Privacy</span></a>
      </div>
      <div id="password1">
        <div id="change-password">
          <span>Change Password:</span>
        </div>
        <div id="account-settings-password">
          <input type="Password" placeholder="Current Password">
          <input type="Password" placeholder="New Password">
          <input type="Password" placeholder="New Password">
          <button id="change-password-button">Change Password</button>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
