<div class="chat-box">
  <div class="chat-search-box">
    <input class="chat-input" type="text" placeholder="Sudhakar Ponnusamy">
  </div>
  <div class="chat-icons">
    <img class="chat-icon-left" src="img/add-user.png">
    <img class="chat-icon-right" src="img/settings.png">
    <div class="clear"></div>
  </div>
  <div class="chat-profiles">
    <input class="chat-checks" id="check21" type="checkbox">
    <img src="img/prof-pic.png">
    <span>Sudhakar Ponnusamy</span>
  </div>
  <div class="chat-profiles">
    <input class="chat-checks" id="check22" type="checkbox">
    <img src="img/prof-pic.png">
    <span>Sudhakar Ponnusamy</span>
  </div>
  <div class="chat-profiles">
    <input class="chat-checks" id="check23" type="checkbox">
    <img src="img/prof-pic.png">
    <span>Sudhakar Ponnusamy</span>
  </div>
</div>
 



