<div id="my-projects" class="margin-top-ten">
	<h2>
		<span class="blue-head">Backlogs</span>
		<span class="number">{{backlogs.length}}</span>
		<span ng-if="user.role == 'admin' || myRole == 'manager'" class="pull-right plusbutton" data-toggle="modal" data-toggle="modal" data-target="#create-backlog-modal" title="create new backlog"><img class="contacts-icons"src="img/addicon2.png"></span>
	</h2>
	<div class="clearfix project-1" ng-repeat = "backlog in backlogs">
		<p class="pull-left">
			<a class="home-projects" href="#/backlog/{{backlog.id}}">{{backlog.name}}</a>
		</p>
		<p class="pull-right" ng-if="path.indexOf('project') > 0">
			<select name="" id="" ng-change="changeSprint(sprintId,backlog)" ng-model="sprintId">
				<option value="">{{backlog.sprint.name}}</option>
				<option ng-repeat="sprint in sprints" value="{{sprint.id}}">{{sprint.name}}</option>
			</select>

			<!-- <select ng-init="MyName = sprints[{{backlog.specialId}}]" ng-model="MyName" ng-options="sprint.name for sprint in sprints"></select> -->

		</p>
	</div>

	<div ng-include="'views/sprint-modals.html'"></div>
</div>

