<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
  <div class="content">
    <sidebar></sidebar>
    <div class="common-div">
    <div class="getting-started-nav">
      <a href="/#/info"><span class="getting-started-hover">Getting Started</span></a>
      <span class="getting-started-hover">FAQ</span>
      <span class="getting-started-span">Contact Support</span>
    </div>
    <div class="contact-support-para">
      <p class="contact-1st-para">Use this form to send us your suggestions or report any problems you have experienced finding support information or using support tools. We'd like to hear about it.</p>
      <p class="contact-2nd-para">Note: This form is for online support feedback only.</p>
    </div>
    <div class="contact-support-form">
    <div class="contact-form-left">
      <span>First Name</span><br>
      <span>Last Name</span><br>
      <span>Email</span><br>
      <span>Subject</span><br>
      <span>Comments</span><br>
    </div>
    <div class="contact-form-right">
      <input type="text"><br>
      <input type="text"><br>
      <input type="text"><br>
      <input type="text"><br>
      <textarea></textarea><br>
    </div>
    <div class="clear"></div>
    <bottom class="save-settings-button">Submit</bottom>
  </div>
  </div>
</div>
