<div class="empty-div"> 
	<headernavigation></headernavigation>
</div>
<div class="content">
    <sidebar></sidebar>
    <div class="common-div">
	    <div class="home-page3">
			<div class="home-page3-head">
				<span>Sort by</span>
				<select class="home-page3-sort" ng-model="sort">
					<option value="createdAt">Recently Added</option>
					<!-- <option>Size</option> -->
					<option value="name">Name</option>
					<!-- <option>Kind</option> -->
				</select>
				<button ng-if= "user.role == 'admin' " class="btn-green pull-right" data-toggle="modal" data-target="#contacts-modal">Add Contact</button>
				<img src="img/search.png">

			</div>

			<div class="home-page3-profile">
				<!-- <input class="checks" id="check11" type="checkbox"> -->
				<!-- <span class="home-page3-select">Select All</span><br> -->
				<div ng-repeat="contact in contacts | orderBy : sort" ng-if="user.id !== contact.id" class="clearfix">
					{{contact.email}}
					<div class="home-page3-left">
						<div class="home-page3-check align-middle">
							<!-- <input class="checks" id="check12" type="checkbox" ng-checked="selection.indexOf(contact.id) > -1" ng-click="toggleSelection(contact.id)" > -->
							<button ng-if= "user.role == 'admin' " class="close-btn" title="delete this contact" ng-click="deleteContact(contact.id)">x</button>
						</div> 
						<!-- <p>{{contact.photo ? contact.photo : "img/img-6.png"}}</p> -->
						<!-- {{user}} -->
						<p>      
							<img ng-if="contact.avatar != null" class="pro-pic" src="{{contact.avatar}}">

      						<img ng-if="contact.avatar == '' || contact.avatar == undefined || contact.avatar == null" src="img/default-pic.png" alt="No Image" class="pro-pic">
      					</p>
					</div>
					<div class="home-page3-right align-middle">
						<a href="#/profile/{{contact.id}}">
							<span class="home-page3-name">{{contact.name}}</span><br>
							<span class="home-page3-designation">{{contact.designation}}</span>
						</a>
						<!-- <li>
							<img src="img/assign.png">Assign Task
						</li>
						<li>
							<img src="img/mail.png">Message
						</li> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'views/modals.html'"></div>