<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
  <div class="content">
    <sidebar></sidebar>
    <div class="create-event">
      <div class="create-event-head">
        <span>New Task</span>
        <img src="img/close-icon.png">
      </div>
      <div class="client-skype-meeting grey">
        <input placeholder=" Task Title">
      </div>
      <div class="event-description grey">
        <textarea placeholder=" Task Description"></textarea>
      </div>
      <div class="create-event-projects grey">
        <input id="proj1" type="text" placeholder=" Projects"><input type="text" id="proj2" placeholder=" Due Date"> 
      </div>
      <div class="client-skype-meeting grey" id="create-task-assign">
        <input placeholder=" Assigned To">
      </div>
      <div class="create-event-button">
        <img src="img/attach-files.png" alt="">
        <img src="img/camera-icon.png" alt="">
        <img src="img/link-icon.png" alt="">
        <button>Create Task</button>
        <div class="clear"></div>
      </div>
    </div>
  </div>


