<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
  <div class="content">
    <sidebar></sidebar>
    <div class="create-event">
      <div class="create-event-head">
        <span>Create Event</span>
        <img src="img/close-icon.png">
      </div>
      <div class="client-skype-meeting grey">
        <input placeholder=" Client skype meeting">
      </div>
      <div class="event-description grey">
        <textarea placeholder=" Event Description"></textarea>
      </div>
      <div class="create-event-projects grey">
        <input id="proj1" type="text" placeholder=" Projects"><input type="text" id="proj2" placeholder=" Tue, Apr 8">
      </div>
      <div class="create-event-button">
        <img src="img/attach-files.png" alt="">
        <img src="img/camera-icon.png" alt="">
        <img src="img/link-icon.png" alt="">
        <button>Create Event</button>
        <div class="clear"></div>
      </div>
    </div>
  </div>
 