<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
  <div class="content">
    <sidebar></sidebar> n
    <div class="common-div">
    <div class="profile">
  <div class="profile-head">
    <span class="profile-text">My Profile</span>
    <button>Save</button>
    <button>Cancel</button>
    <div class="clear"></div>
  </div>
  <div class="basic-profile">
    <div class="bio">
      <img class="pro-pic" src="img/img-6.png">
      <div class="info">
        <span class="designation" class="profile-text"><input type="text" value="Sudhakar Ponnusamy"></span>
        <span class="designation" class="profile-text"><input type="text" value="UI Designer"></span>
      </div>
      <div class="clear">
      </div>
    </div>
    <div class="contact-info">
      <span class="head-info profile-text">Contact Information</span>
      <div class="contact-left-right">
        <div class="contact-grey-left">
          <li>Email</li>
          <li>Mobile</li>
          <li>Skype</li>
          <li>Web</li>
        </div>
        <div class="contact-grey-right">
          <li>sudhakar@mantralabsglobal.com</li>
          <li><input type="text" value="9790923827"></li>
          <li><input type="text" value="sudhakar.ponnusamy41"></li>
          <li><input type="text" value="https://www.behance.net/sudhakar"></li>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div>
    <span class="profile-text head-info">About Me</span>
    <textarea class="description">
      <p>I'm a UX/UI Designer that believes in crafting thoughtful user experiences for web and mobile platforms. I'm a 26 year old technology enthusiast living in slovenia, Ljublijana. I currently work at Enki, where I spend most of the time creating and working on awesome projects (if I'm not killing myself with Red Bull)
      </p>
      <p>I'm a UX/UI Designer that believes in crafting thoughtful user experiences for web and mobile platforms. I'm a 26 year old technology enthusiast living in slovenia, Ljublijana. I currently work at Enki, where I spend most of the time creating and working on awesome projects (if I'm not killing myself with Red Bull)
      </p>
    </textarea>
  </div>
  </div>
  </div>
</div>