<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
  <div class="content">
    <sidebar></sidebar>
    <div class="common-div">
    <div id="getting-started-nav">
      <span id="getting-started-span">Getting Started</span>
      <span class="getting-started-hover">FAQ</span>
      <a href="/#/contactsupport"><span class="getting-started-hover">Contact Support</span></a>
    </div>
    <div class="getting-started-container">
      <div class="getting-started-sub-container">
        <span>About</span>
        <li>Introduction</li>
        <li>Interface Overview</li>
      </div>
      <div class="getting-started-sub-container">
        <span>Dashboard</span>
        <li>Introduction</li>
        <li>Interface Overview</li>
      </div>
      <div class="getting-started-sub-container">
        <span>Projects</span>
        <li>Introduction</li>
        <li>Interface Overview</li>
      </div>
      <div class="getting-started-sub-container">
        <span>Tasks</span>
        <li>Introduction</li>
        <li>Interface Overview</li>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  </div>
