<div id="fixed">

	<div class = "logo">
		<h1></h1>
	</div>

	<div class = "header-links">
		<ul>
			<li><a href="javascript:"><img src="images/chat-icon.png" alt="chat-icon"></a></li>
			<li><a href="javascript:"><img src="images/notification.png" alt="notification"></a></li>
			<li><a href="javascript:"><img src="images/user-icon.png" alt="user-icon"></a></li>  
			<li><a href="javascript:"><img src="images/search-icon.png" alt="search-icon"></a></li>
		</ul>
	</div>--><!--end header links-->
</div><!-- end fixed -->