<div class="modal fade" id="project-modal" ng-controller="workspaceCtrl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New Project</h4>
        </div>
        <form action="">
          <div class="modal-body">
            <div class="project-title border-bottom-grey">
              <input class="modal-input" type="text" placeholder="Project Title" ng-model='project.name'>
            </div>

            <div class="project-desc border-bottom-grey">
              <textarea name="" placeholder="describe your project here.." ng-model='project.description'></textarea>
            </div>
            
            <div class="clearfix border-bottom-grey">
              <span>Select workspace : </span>
            <select class="modal-select" ng-model="project.workspace">
                <option value="">Workspace</option>
                <option ng-repeat="workspace in workspaces" id ="{{workspace.id}}" value="{{workspace.id}}">{{workspace.name}}</option>
            </select>
            <p ng-if="workspaces.length==0" style="color:red">Please create a workspace</p>
            <button ng-if="workspaces.length==0"  ng-click="workspaceRedirect()">
              Create Workspace
            </button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn-green" ng-click='addNewProject(project)'>Create Project</button>
          </div>
        </form>
      </div>
    </div>
</div>

<!-- modal for task -->
<div class="modal fade" id="task-modal" ng-controller="projectController">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New Task</h4>
        </div>
        <form action="">
          <div class="modal-body">
            <div class="project-title border-bottom-grey">
              <input class="taskdescription modal-input" type="text" placeholder="Task Title" ng-model='task.name'>
            </div>

            <div class="project-desc border-bottom-grey">
              <textarea name="" id="" placeholder="Task Description" ng-model='task.description'></textarea>
            </div>
            
            <div class="clearfix border-bottom-grey">
              <span>Select Project : </span>
           <!--  <div class="select-style"> -->
              <select class="modal-select" ng-model="task.project" ng-change = "fetchUsers(task.project)">
                  <option value="">Project</option>
                  <option ng-repeat="project in projects" id ="{{project.id}}" value="{{project.id}}" >{{project.name}}</option>
              </select>
            <!-- </div> -->
            <p ng-if="project.users.length == 0" style="color: red">No Members select another project</p>
            <select class="modal-select" ng-model="task.assignedTo" ng-if="project.users.length != 0"  
            ng-disabled="project.users == undefined">
                <option value="">Assign To</option>
                <option ng-repeat="member in project.users | filter:{ id: '!'+user.id}"  value="{{member.id}}">{{member.name}}</option>
            </select>
            <input type="text" name="date" id="date" ng-model="task.duedate">
            
            
            
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn-green" ng-click='createTask()'>Create Task</button>
          </div>
        </form>
      </div>
    </div>
</div>

<!-- Edit project modal -->
<div class="modal fade common-modal" id="edit-project-modal" ng-controller="workspaceCtrl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Project</h4>
        </div>
        <form action="">
          <div class="modal-body">
            <div class="project-title border-bottom-grey">
              <input class="modal-input" type="text" placeholder="Project Title" ng-model='project.name'>
            </div>

            <div class="project-desc border-bottom-grey">
              <textarea name="" id="" placeholder="describe your project here.." ng-model='project.description'></textarea>
            </div>
            
            <div class="clearfix border-bottom-grey">
              <span>Select workspace : </span>
            <select class="modal-select" ng-model="project.workspace">
                <option value="">Workspace</option>
                <option ng-repeat="workspace in workspaces" id ="{{workspace.id}}" value="{{workspace.id}}">{{workspace.name}}</option>
            </select>
            <p ng-if="workspaces.length==0" style="color:red">Please create a workspace</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn-green" ng-click='editProject(project.name,project.description,workspace.id)'>Save</button>
          </div>
        </form>
      </div>
    </div>
</div>

<!-- add new contact modal -->
<div class="modal fade" id="contacts-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">New Contact</h4>
			</div>

			<div class="modal-body">
				<!-- <div class="project-title border-bottom-grey">
					<input class="modal-input" type="text" placeholder="Contact Name">
				</div> -->

				<div class="project-title border-bottom-grey">
					<input class="modal-input" type="text" placeholder="e-mail" ng-model='contact.email'>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn-green" ng-click="addNewContact(contact)">Add Contact</button>
			</div>
		</div>
	</div>
</div><!-- modal -->

<!-- create new workspace -->
<div class="modal fade" id="workspace-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" name="workspaceForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New Workspace</h4>
        </div>

        <div class="modal-body">
          <!-- <div class="project-title border-bottom-grey">
            <input class="modal-input" type="text" placeholder="Contact Name">
          </div> -->

          <div class="project-title border-bottom-grey">
            <input class="modal-input" name="workspaceName" id="workspaceName" type="text" placeholder="Enter Workspace Name" ng-model='workspace.name' required>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" ng-disabled="workspaceForm.workspaceName.$error.required" class="btn-green" ng-click="addNewWorkspace(workspace)">Create Workspace</button>
        </div>
      </form>
    </div>
  </div>
</div><!-- modal-->

<!-- Edit workspace -->
<div class="modal fade common-modal" id="edit-workspace-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" name="workspaceForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Workspace</h4>
        </div>

        <div class="modal-body">
          <!-- <div class="project-title border-bottom-grey">
            <input class="modal-input" type="text" placeholder="Contact Name">
          </div> -->
          <div class="project-title border-bottom-grey">
            <input class="modal-input" name="workspaceName" id="workspaceName" type="text" placeholder="Edit Workspace Name" ng-model='workspace.name' required>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" ng-disabled="workspaceForm.workspaceName.$error.required" class="btn-green" ng-click="editWorkspace(workspace.name)">Save</button>
        </div>
      </form>
    </div>
  </div>
</div><!-- modal-->

<!-- Contacts List Modal for adding projects or tasks -->
<div class="modal fade" id="contact-list-modal" ng-controller="contactController">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Select Contact to Add</h4>
        </div>
    
        <div class="modal-body">
          <div class="border-bottom-grey" ng-repeat = "contact in contacts " id="{{contact.id}}">
            <p>
            <input  type="checkbox" value="{{contact.id}}" ng-change="sync(bool, contact)" ng-model="bool" id="{{contact.id}}" ng-checked="isChecked(contact.id)"> {{contact.name}}</p>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn-green" ng-click="addMemberToProject()">Add</button>
        </div>
      </form>
    </div>
  </div>
</div><!-- modal-->

<!-- Contacts List Modal for adding projects or tasks -->
<div class="modal fade" id="view-image-modal" ng-controller="contactController">
  <div class="modal-dialog">
    <div class="modal-content">
      <img src="https://s3-ap-southeast-1.amazonaws.com/mantra-dash/avatar/{{activity.attachment}}" alt="">
    </div>
   
  </div>
</div>