<!-- mycontacts.html -->

<div id="my-contacts">
	<div class="mycontacts-header clearfix">
		<h2><a href="/#/contacts">My Contacts </a><span class="number"><!-- {{Contact.list.length}} --></span></h2>
			<div class="pagination">
				<a href="javascript:"><img src="img/left-arrow.png" class="pagination-left" alt="add-contacts" /></a>
				<a href="javascript:"><img src="img/right-arrow.png" class="pagination-right" alt="add-contacts"/></a>
			</div><!--end pagination-->
	</div><!--end my contacts-header-->

	<div class="profile-pics clearfix">

		<ul class="clearfix">
			<li ng-repeat="contact in Contact.list"><a href="#/profile1{{contact.id}}"><img src="img/img-1.png" alt="profile-pic"></a></li>
		</ul>
	</div><!--end profile pics-->  
</div>