<!-- mycontacts.html -->

<div id="my-contacts" ng-controller="contactController">
	<div class="mycontacts-header  clearfix">
		<h2 class="my-contacts-home"><a href="/#/contacts" class="blue-head">My Contacts </a><span class="number">{{contacts.length-1}}</span>
		<a ng-if="user.role == 'admin'"data-toggle="modal" data-target="#contacts-modal"><img src="img/add-user.png" class="pagination-right add-contacts-icon" alt="add-contacts"/></a></h2>
		
			 <!-- <div class="pagination">
				<a href="javascript:"><img src="img/left-arrow.png" class="pagination-left" alt="add-contacts" ng-click="scroll()"/></a>
				<a href="javascript:"><img src="img/right-arrow.png" class="pagination-right" alt="add-contacts"/></a>
			</div> --> <!--end pagination
	</div><!--end my contacts-header-->

	<div class="profile-pics clearfix">

		<ul class="clearfix contacts-li">
			<li  ng-repeat="contact in contacts" ng-if="user.id !== contact.id">
				
				<a href="#/profile/{{contact.id}}">
		      		<img ng-if="contact.avatar != null" class="pro-pic" src="{{contact.avatar}}" title ="{{contact.name}}">

					<!-- <img src="img/img-1.png" alt="profile-pic"> -->
					<!-- <img ng-if="contact.avatar != null" class="pro-pic" src="https://s3-ap-southeast-1.amazonaws.com/mantra-dash/avatar/{{contact.avatar}}">-->
      				<img ng-if="contact.avatar == '' || contact.avatar == undefined || contact.avatar == null" src="img/default-pic.png" alt="No Image" class="pro-pic" title ="{{contact.name}}">

				</a>
			</li>
		</ul>
	</div><!--end profile pics-->  
</div>
<div ng-include="'views/modals.html'"></div>