<!-- my-events.html -->

<!-- <h2>Events <span class="number">1</span> 
	<a href="/#/createEvent"><img src="img/events-icon.png" alt="attach-files" class="task-icon"></a>
</h2> -->

<!-- <div id="project-1">
 <p class="left-column">Watch in app design</p>
 <p class="right-column">21/05/2013&nbsp;&nbsp;&nbsp;03:00 pm</p>
</div> --><!--end project-1-->

<!-- <div id="project-1">
 <p class="left-column">Watch in app design</p>
 <p class="right-column">21/05/2013&nbsp;&nbsp;&nbsp;03:00 pm</p>
</div> --><!--end project-1-->
 