<!-- my-projects.html -->
<div id="my-projects">
	<h2><a href="/#/project" class="blue-head">My Projects </a><span class="number">{{projects.list.length}}</span>
	<span class="task-icon"data-toggle="modal" data-target="#project-modal" title="create new project">+</span>
	</h2>

	<div id="project-1" ng-repeat = "project in projects.list | limitTo : 3"> 
		<p class="left-column">
			<a href="#/project/{{project.id}}">{{project.projectname}}</a>
		</p>

		<p class="right-column">{{project.user.length}} members</p>
	</div><!--end project-1-->
</div>
<!-- <div id="project-2">
	<p class="left-column"><a href="javascript:">Emenu</a></p>
	<p class="right-column">2 members</p>
</div><!--end project-2-->

<!-- <div id="project-3">
	<p class="left-column"><a href="javascript:">Chess</a></p>
	<p class="right-column">3 members</p>
</div> --><!--end project-3-->
