<!-- my-projects.html -->
<div id="my-projects">
	<h2>
		<a href="/#/myprojects" class="blue-head">My Projects </a>
		<span class="number">{{projects.length}}</span>

	<!-- <span ng-if="user.role == 'admin'" class="task-icon"data-toggle="modal" data-target="#project-modal" title="create new project">+</span> -->
	</h2>
	<div class="project-1" ng-repeat = "project in projects | limitTo : 3"> 
		<p>
			<a class="home-projects" href="#/project/{{project.id}}">{{project.name}}</a>
		</p>
		<!-- <p class="right-column">{{project.user.length}} members</p> -->
	</div><!--end project-1-->
</div>

