
<h2><a class="blue-head"> Tasks </a><span class="number">4</span> 
	<a href="/#/createTask"><img src="img/task-icon.png" alt="attach-files" class="task-icon"></a>
</h2>

<div id="project-1">
	<p class="left-column"><img src="img/completed-icon.png" alt="completed">&nbsp;&nbsp;Watch in app design</p>
	<p class="right-column">21/05/2013</p>
</div><!--end project-1-->

<div id="project-2">
	<p class="left-column"><img src="img/in-progress.png" alt="in-progress">&nbsp;&nbsp;Watch in wireframe</p>
	<p class="right-column">29/03/2014</p>
</div><!--end project-2-->

<div id="project-3">
	<p class="left-column"><img src="img/not-completed.png" alt="not-completed">&nbsp;&nbsp;Chess</p>
	<p class="right-column">4/04/2014</p>
</div><!--end project-3-->