<!-- my-workspaces.html -->
<div id="my-projects">
	<h2>
		<a href="#/workspaces" class="blue-head">My Workspaces </a>
		<span class="number">{{myWorkspaces.length}}</span>
	</h2>
	<div class="project-1 col-md-12" ng-repeat = "workspace in myWorkspaces | limitTo:4"> 
		<p class="col-md-6">
			<a class="home-projects" href="#/workspaces/{{workspace.id}}">{{workspace.name}}</a>
		</p>
		<!-- <p ng-if="project.users.length == 1"class="col-md-6 memberslength" >{{project.users.length}} Member</p>
		<p ng-if="project.users.length > 1" class="col-md-6 memberslength" >{{project.users.length}} Members</p> -->

	</div><!--end project-1-->
</div>
