<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
  <div class="content">
    <sidebar></sidebar>
    <div class="common-div">
      <div id="notifications-settings-nav">
        <a href="/#/account-settings"><span class="notifications-settings-hover bag">Settings</span></a>
        <span id="notifications-settings-span">Notifications</span>
        <a href="/#/privacy"><span class="notifications-settings-hover">Privacy</span></a>
      </div>
      <div id="notifications-checkboxes">
        <div id="notifications-left-box">
          <span>Notify me when:</span>
        </div>
        <div id="notifications-right-box">
          <div><input type="checkbox" class="checks" id="check1"><span>When new activity on projects</span></div>
          <div><input type="checkbox" class="checks" id="check2"><span>When someone add me in projects</span></div>
          <div><input type="checkbox" class="checks" id="check3"><span>When someone assigned tasks for me</span></div>
          <div><input type="checkbox" class="checks" id="check4"><span>When someone sennds me a direct message</span></div>
          <button id="save-settings-button">Save Settings</button>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
