<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
  <div class="content">
    <sidebar></sidebar>
    <div class="common-div">
    <div class="privacy-settings-container">
<div id="privacy-settings-nav">
  <a href="/#/account-settings"><span class="privacy-settings-hover">Settings</span></a>
  <a href="/#/notification-settings"><span class="privacy-settings-hover">Notifications</span></a>
  <a href="/#/privacy"><span id="privacy-settings-span">Privacy</span></a>
</div>
<div id="privacy-settings">
<div id="privacy-delete-conditions">
<div><span id="privacy-settings-head">Delete your account:</span></div>
<div><span class="privacy-delete-terms">When you delete your account:</span></div>
<ul class="privacy-delete-terms">
<li>Your account will be deleted permanently.</li>
<li>All of your content will be deleted.</li>
<li>All of your information, including comments, messages, discussions will be deleted.</li>
<li>No one will have accesss to your profile.</li>
</ul>
</div>
<div id="privacy-confirm-deletion">
<div><input class="privacy-check" type="checkbox"><span id="privacy-agree" class="privacy-delete-terms">I agree with the Terms & Conditions and want to delete my account permanantly.</span></div>
<input type="button" id="delete-button" value="Delete My Account">
</div>
</div>
</div>
</div>
</div>
