<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
  <div class="content">
    <sidebar></sidebar>
    <div class="common-div">
    <div class="profile">
  <div class="profile-head">
    <span class="name">{{user.name}}</span>
    <a href="/#/editprofile"><button>Edit</button></a>
    <div class="clear"></div>
  </div>
  <div class="basic-profile">
    <div class="bio">
      <!-- <img class="pro-pic" src="https://s3-ap-southeast-1.amazonaws.com/mantra-dash/avatar/{{user.avatar}}" width="50px;"> -->
      <img ng-if="user.avatar != null" class="pro-pic" src="https://s3-ap-southeast-1.amazonaws.com/mantra-dash/avatar/{{user.avatar}}">

      <img ng-if="user.avatar == '' || user.avatar == undefined || user.avatar == null" src="img/default-pic.png" alt="No Image" class="pro-pic">
      
      <div class="info">
        <span class="designation" class="profile-text">{{user.designation}}</span>
        <li><pre><img src="img/Assign.png"> Assign Task</pre></li>
        <li><pre><img src="../img/mail.png"> Message</pre></li>
      </div>
      
      <div class="clear"></div>
    </div>
    <div class="contact-info">
      <span class="head-info profile-text">Contact Information</span>
      <div class="contact-left-right">
        <div class="contact-grey-left">
          <li>Email</li>
          <li ng-if="user.phone">Mobile</li>
          <li ng-if="user.skypeId">Skype</li>
          <li ng-if="user.websiteUrl">Web</li>
        </div>
        <div class="contact-grey-right">
          <li>{{user.email}}</li>
          <li ng-if="user.phone">{{user.phone}}</li>
          <li ng-if="user.skypeId">{{user.skypeId}}</li>
          <li ng-if="user.websiteUrl">
            <a href="{{user.websiteUrl}}" target="_blank">{{user.websiteUrl}}</a>
          </li>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div ng-if="user.aboutMe">
    <span class="profile-text head-info">About Me</span>
    <div class="description">
      <p>{{user.aboutMe}}</p>
    </div>
  </div>
  </div>
  </div>
</div>