<!-- <div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
<div class="content">
    <sidebar></sidebar>
    <div class="common-div">
	    <div class="home-page3">
			<div class="home-page3-head clearfix">
				<span>List of Projects</span>
				<button ng-if="user.role == 'admin'" class="btn-green pull-right" data-toggle="modal" data-target="#project-modal">Create Project</button>
				<input class="search-list" type="text" ng-model="name">
			</div>

			<div class="home-page3-profile clearfix" ng-if="user.role == 'admin'" >
				<div  class="col-md-5 project-name" ng-repeat = "project in projects | filter:name" style="text-align:center;background-color:lavender;margin:2px;padding:5px;">

					<div class="project-name" style="padding:5px;"><a href="#/project/{{project.id}}">{{project.name}}</a><br></div>
					
					<button class="btn-green"><a href="#/project/{{project.id}}">View</a></button>
					<button class="btn-green" title="delete this Project" ng-click="deleteProject(project.id)" >Delete</button>
					
				</div>
			</div>
			<div class="home-page3-profile clearfix" ng-if="user.role =='user'">
				<div class="project-name" ng-repeat = "project in user.projects">
					<a href="#/project/{{project.id}}">{{project.name}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'views/modals.html'"></div> -->







<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
<div class="content">
    <sidebar></sidebar>
    <div class="common-div clearfix">
	    <div class="home-page3">
			<div class="home-page3-head clearfix">
				<span class="blue-head">List of Projects</span>
				<button ng-if="user.role == 'admin'" class="btn-green pull-right" data-toggle="modal" data-target="#project-modal">Create Project</button>
				<input class="search-list" type="text" ng-model="name" placeholder="search here">
			</div>

			<div class="home-page3-profile clearfix" ng-if="user.role == 'admin'" >
				<ul class="project-name">
					<li  ng-repeat = "project in projects | filter:name">
						<a  href="#/project/{{project.id}}">{{project.name}}</a>
						<a href=""><button  class="delete-btn" title="delete this Project" ng-click="deleteProject(project.id)" >Delete</button></a>
						<a href="#/project/{{project.id}}"><button class="view-btn" title="view this Project">View</button></a>
					</li>

				</ul>
				<p class="filter-notification" ng-show="(projects | filter:name).length == 0 && projects.length !== 0">No Results Found!</p>
				
			</div>

			</div>
			<div class="home-page3-profile clearfix" ng-if="user.role =='user'">
				<div ng-if="user.projects.length == 0">
					<p class="noprojects">No Projects Assigned To U Yet</p>
				</div>
				<ul class="project-name">
					<li  ng-repeat = "project in projects | filter:name">
						<a  href="#/project/{{project.id}}">{{project.name}}</a>
							<!-- <button  class="view-btn" title="view this Project" onclick="location.href='#/project/project.id'">View</button> -->
							<a href="#/project/{{project.id}}"><button class="view-btn" title="view this Project">View</button></a>
					</li>
					
				</ul>
				<p class="filter-notification" ng-show="(projects | filter:name).length == 0 && projects.length !== 0">No Results Found!</p>
			</div>
		</div>
	</div>
</div>


<div ng-include="'views/modals.html'"></div>



<!-- <div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
<div class="content">
    <sidebar></sidebar>
    <div class="common-div">
	    <div class="home-page3">
			<div class="home-page3-head clearfix">
				<span>List of Projects</span>
				<button ng-if="user.role == 'admin'" class="btn-green pull-right" data-toggle="modal" data-target="#project-modal">Create Project</button>
				<input class="search-list" type="text" ng-model="name">
			</div>

			<div class="home-page3-profile clearfix" ng-if="user.role == 'admin'" >
				<p class="project-name" ng-repeat = "project in projects | filter:name" >
					<button  class="close-btn" title="delete this Project" ng-click="deleteProject(project.id)" style="padding:0px;"><img src="img/trash.png" style="width: 20px;height: 20px;"></button>
					<a href="#/project/{{project.id}}">{{project.name}}</a>
				</p>
			</div>
			<div class="home-page3-profile clearfix" ng-if="user.role =='user'">
				<p class="project-name" ng-repeat = "project in user.projects">
					<a href="#/project/{{project.id}}">{{project.name}}</a>
				</p>
			</div>
		</div>
	</div>
</div>
<div ng-include="'views/modals.html'"></div> -->









