<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
<div class="content">
    <sidebar></sidebar>
    <div class="common-div">
	    <div class="home-page3">
			<div class="home-page3-head">
				<span>List of Projects</span>
				<button class="btn-green pull-right" data-toggle="modal" data-target="#project-modal">Create Project</button>
				<img src="img/search.png">
			</div>

			<div class="home-page3-profile clearfix" >
				<p class="project-name" ng-repeat = "project in projects">
					<button class="close-btn" title="delete this Project" ng-click="deleteProject(project.id)">x</button>
					<a href="#/project/{{project.id}}">{{project.name}}</a>
				</p>
			</div>
		</div>
	</div>
</div>
<div ng-include="'views/modals.html'"></div>