<div id="wrapper">

	<div class="empty-div"> 
 		<headernavigation userdata="info"></headernavigation>
 	</div>
 	
 	<div class="content">
 		<sidebar></sidebar>
		<section id="container" class="clearfix">
    		<div class="project-list">

				<h4>{{project[0].name}}
					<button ng-if="user.role == 'admin'" class="btn-green pull-right" title="Edit this workspace" data-toggle="modal" data-target="#edit-project-modal">Edit</button></h4>
    			<!-- <div class="project-dropdown">
    				<select>
				    	<option value="">Select Project</option>
				    	<option id ="workspace-{{workspace.id}}" value="{{project.id}}" ng-repeat="project in projects">{{project.name}}</option>
					</select>
				</div> -->
			</div>
    		<div id="left">
    			<div id="my-contacts">
					<div class="mycontacts-header clearfix">
						<h2>Project members
							<span class="number">{{project[0].users.length}}</span>
							<span ng-if="user.role == 'admin' " class="pull-right" data-toggle="modal" data-target="#contact-list-modal" title="create new project">+</span>
						</h2>
						<div id="project-1" ng-repeat = "member in project[0].users | limitTo : 3"> 
							<p class="left-column">
								{{member.name}}
							</p>
						</div>	
					</div><!--end my contacts-header-->
					<div class="profile-pics clearfix">
						<ul class="clearfix">
						<li ng-repeat="contact in Contact.list"><a href="#/profile1{{contact.id}}"><img src="img/img-1.png" alt="profile-pic"></a></li>
						</ul>
					</div><!--end profile pics-->  
				</div>
    		</div>
	  		<div id="right" class="clearfix">
	        	<updateactivity></updateactivity>
		        <div id="activities">
		          <activities></activities>
		        </div><!--end activities-->
      		</div>
      	</section>
 	</div>
</div>

<div ng-include="'views/modals.html'"></div>