<section id="login-page">
	<h1>Reset Password</h1>
	<!-- <p class="top-p">Don't have account yet? <a href="#/signup">Join now</a></p> -->

	<div id="signin-box">
		<div class="input-container" ng-app="app">
			
			<div class="signup-page"> {{error}}</div>
			
			<form action="" method="post" class="css-form" name="myForm" novalidate>
				<div class="part">
					<input class="common" type="password" id="password" name="password" placeholder="New Password" ng-model="user.password" required>
				</div>
				<div class="part">
					<input class="common" type="password" id="confirm-password" name="confirm-password" placeholder="Renter Password" ng-model="user.confirmpassword" required>
				</div>
    			<button class="signup-btn btn" type="submit" ng-click="resetPassword(user.password)" ng-disabled="myForm.password.$pristine && myForm.password.$invalid ">Submit</button>
			</form>			
		</div><!--end input container-->
	</div><!--end signin box-->
</section><!--end login page-->