<section id="login-page" ng-controller="resetPasswordCtrl">
	<h1>Reset Password</h1>
	<!-- <p class="top-p">Don't have account yet? <a href="#/signup">Join now</a></p> -->

	<div id="signin-box">
		<div class="input-container" ng-app="app">
			
			<div class="signup-page"> {{error}}</div>
			
			<form action="" method="post" class="css-form" name="myForm" novalidate>
				<div class="part">
					<input class="common" type="email" id="email" name="email" placeholder="Email address" ng-model="user.email" required>
					<div class="signup-page" ng-show="myForm.email.$dirty && myForm.email.$invalid">Email is not Valid
					</div>
      				<!--<div ng-show="myForm.email.$error.required">Email is required.</div> -->
          			<!--<div ng-show="myForm.email.$error.email">Invalid email address.</div><br> -->
				</div>

    			<button class="signup-btn btn" type="submit" ng-click="resetPasswordIntiate(user)" ng-disabled="myForm.email.$pristine && myForm.email.$invalid ">Submit</button>
			</form>			
		</div><!--end input container-->
	</div><!--end signin box-->
</section><!--end login page-->