<section id="login-page" ng-controller = "LoginCtrl">
	<h1>Set Password</h1>

	<div id="signin-box">
		<div class="input-container">
			
			<div style = "color:red"> {{error}}</div>
			
			<form action="" method="post" class="css-form" name="myForm" novalidate>
				<div class="part">
					<input class="common" type="password" name="password" id="password" placeholder="Password" ng-model="user.password" required>
					<input class="common" type="password" name="password" id="confirm-password" placeholder="Confirm Password" ng-model="user.confirmPassword" required>
				</div>
				<button class="signup-btn btn" type="submit" ng-disabled="user.password != user.confirmPassword" ng-click="setPassword()">Set Password</button>
			</form>			
		</div><!--end input container-->
	</div><!--end signin box-->
</section><!--end login page-->