<div id="sidebar">
  <ul>
    <li><a href="/#/home"><img src="img/home-icon.png" alt="home-icon"></a></li>
    <li><a href="#/project"><img src="img/icon-2white.png" alt="-icon"></a></li>
    <li><a href="/#/task-page"><img src="img/assignwhite.png" alt="clipboard"></a></li>
    
    <li><a href="javascript:"><img src="img/calendarwhite.png" alt="calendar-icon"></a></li>
    <li><a href="/#/contacts"><img src="img/contact-icon.png" alt="calendar-icon"></a></li>
    <li><a href="/#/workspace"><img src="img/assign.png" alt="workspace" ></a></li>
    <li class="q-icon"><a href="javascript:"><img src="img/q-mark.png" alt="q-icon"></a></li>

    
  </ul>
</div><!--end sidebar-->