<div id="sidebar">
  <ul>
    <li><a href="javascript:"><img src="images/home-icon.png" alt="home-icon"></a></li>
    <li><a href="javascript:"><img src="images/icon-2.png" alt="-icon"></a></li>
    <li><a href="javascript:"><img src="images/icon-3.png" alt="clipboard"></a></li>
    <li><a href="javascript:"><img src="images/calendar.png" alt="calendar-icon"></a></li>
    <li><a href="javascript:"><img src="images/contact-icon.png" alt="calendar-icon"></a></li>
    <li class="q-icon"><a href="javascript:"><img src="images/q-mark.png" alt="q-icon"></a></li>
  </ul>
</div><!--end sidebar-->