<div id="sidebar">
  <ul>
    <li><a href="/#/home"><img src="img/home-icon.png" alt="home-icon" title="Home"></a></li>
    <li><a href="/#/contacts"><img src="img/contact-icon.png" alt="calendar-icon" title="Contacts"></a></li>
    <li><a href="#/projects"><img src="img/icon-2white.png" alt="project-icon" title="Projects"></a></li>
    <li><a href="/#/task-page"><img src="img/assignwhite.png" alt="clipboard" title="Tasks"></a></li>	
    
    <!-- <li><a href="javascript:"><img src="img/calendarwhite.png" alt="calendar-icon" title="Calender"></a></li> -->
    <li><a href="/#/workspaces"><img src="img/workspace.png" style="width:18px;height:18px;" alt="calendar-icon" title="workspace"></a></li>
   
   <!--  <li><a href="/#/workspaces"><img src="img/assign.png" alt="workspace" title="Workspaces"></a></li> -->
    <!-- <li class="q-icon"><a href="javascript:"><img src="img/q-mark.png" alt="q-icon"></a></li>
 -->
    
  </ul>
</div><!--end sidebar-->