<section id="signup-page" ng-controller = "SignupCtrl">
    <h1>Sign Up</h1>
    <p class="top-p">Already have an account? <a href="#/">Sign In</a></p>

    <div id="signin-box" ng-app="signupApp">
        <div class="input-container">
            <form enctype='application/json' action="" novalidate name="signupForm" class ="css-form" novalidate>
                <div class="part">
                    <input type="text" id="name" name="name" placeholder="Name" class="common" ng-model="name" ng-minlength = "3"required />
                    <div style="color:red" ng-show="signupForm.name.$error.minlength">Name is too short.</div>
                    <div style="color:red" ng-show="signupForm.name.$dirty && signupForm.name.$invalid">
                       <div ng-show="signupForm.name.$error.required">Name is required.</div>
                       <br>
                    </div>
                </div>
                <div class="part">
                    <input  type="email" name="email" id="email" placeholder="E-mail" class="common" ng-model="email" required />
                    <div style="color:red" ng-show="signupForm.email.$dirty && signupForm.email.$invalid">
                       <div ng-show="signupForm.email.$error.required">Email is required.</div>
                      <div ng-show="signupForm.email.$error.email">Invalid Email address.</div><br>
                    </div>
                </div>
                <div class="part">
                    <input  type="password" id="password" name="password" placeholder="Password" class="common" ng-model="password" ng-minlength="6" required />
                    <div style="color:red" ng-show="signupForm.password.$error.minlength">Password is too short.</div>
                    <div style="color:red" ng-show="signupForm.password.$dirty && signupForm.password.$invalid">
                       <div ng-show="signupForm.password.$error.required">Password is required.</div>
                       <br>
                    </div>
                </div>
               <div class="checkbox">
                    <input type="checkbox" ng-model="terms" ng-value-true="1" required><p class="i-agree"><span > I agree to the</span> <a href="javascript:">terms and conditions </a></p>
                </div>
                    <button class="signup-btn btn" type="submit" ng-disabled="signupForm.$invalid" ng-click="signup()">Sign Up</button>
                </form>
        </div><!--end of input-container-->
    </div><!--end signin box-->
</section><!-- end login page -->