<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
  <div class="content">
    <sidebar></sidebar>
    <div class="common-div clearfix" ng-controller="projectController">
      <div class="task-head-nav">
        <span ng-click="myTask()">My Tasks</span>
        <li ng-click="assignedTask()">Assigned Task</li>
        <!-- <li>All Task</li> -->
        <button data-toggle="modal" data-target="#task-modal" class="task-head-button">Create Task</button>
        <div class="clear"></div>
      </div>
      <div class="task-body-nav">
        <span>Open</span>
        <li>In Progress</li>
        <li>Completed</li>
        <select class="task-body-select" ng-model="task.project">
          <option value="">All Projects</option>
          <option ng-repeat="project in projects" id ="{{project.id}}" value="{{project.id}}" >{{project.name}}</option>
        </select>
      </div>
      <div class="clearfix">
      <div class="task-container clearfix" ng-repeat = "task in tasks | filter:task.project">
        <div class="task-body-container1" >
          <span class="task-open-heading">{{task.name}}</span>
          <p>{{task.description}}</p>
          <li class="task-open-dates">Assigned Date:{{task.createdAt | date}}</li>
          <li class="task-open-dates">Due date:{{task.duedate | date}}</li>
          <li class="task-open-dates">Project Name:{{task.project.name}}</li>
         <!--  <span class="task-open-comment">Comments</span> -->
        </div>
    <!-- <div class="task-comments">
	    <textarea class="task-comments-area"></textarea><br>
      <img src="img/attach-files.png">
      <img src="img/camera-icon.png">
      <img src="img/link-icon.png">
      <button class="task-head-button">Add Comment</button>
    </div> -->
    <!-- <div class="clear">
    </div> -->

   <!--  <div class="task-body-co">
      <div class="task-body-container2">
        <img class="task-dp" src="img/dp.png">
        <div class="task-conntainer2-right">
          <span class="task-prof-name">Sudhakar</span>
          <p>tell me about pages and the functionalities</p><br>
          <span class="task-days">2 days ago</span>
          <li><img src="img/reply.png"> 2</li>
          <li><img src="img/heart.png"> 3</li>
        </div>
        <div class="clear"></div>
      </div>
      <div class="task-body-cont">
        <div class="task-body-container2">
          <img class="task-dp" src="img/dp.png">
          <div class="task-conntainer2-right">
            <span class="task-prof-name">Sudhagar</span>
            <p>I got the task Sudhagar</p> 
            <span class="task-prof-name"> Sudhagar</span><br>
            <span class="task-days">2 days ago</span>
            <li><img src="img/heart.png"> 3</li>
          </div>
          <div class="clear">          	
          </div>
        </div>
        <div class="task-comments">
	        <textarea class="task-comments-area"></textarea><br>
	        <img src="img/attach-files.png">
	        <img src="img/camera-icon.png">
	        <img src="img/link-icon.png">
	        <button class="task-head-button">Add Comment</button>
        </div>
      </div>
    </div> -->
  </div>
  <!-- <div class="task-body-right">
	  <span>Assigned by</span>
	  <img src="img/rightdp.png"><br>
	  <div>
	    <li><img src="img/reply.png"> 5</li>
      <li><img src="img/heart.png"> 3</li>
    </div>
  </div> -->
  <!-- <div class="clear">
  </div> -->
  
  </div>
  </div>
  </div>


  <div ng-include="'views/modals.html'"></div>