<div class="empty-div"> 
    <headernavigation></headernavigation>
</div>
<div class="content">
    <sidebar></sidebar>
    <div class = "task-wrapper clearfix">
        <div class="clearfix">
            <div class="task-container-left pull-left">
                <div class ="task-content">
                    <div class ="task-heading clearfix">
                        <h3 class="pull-left">heading</h3>
                        <p class="pull-right">assigned by :{{}}</p>
                    </div>
                    <div class="task-desc">
                        <p>desc</p>
                    </div>
                    <div class="task-assigned">
                        <p class="align-middle">Assigned Date : {{}}</p>
                        <p class="align-middle">Due Date : {{}}</p>
                        <div class="align-middle pull-right">
                            <ul class="clearfix">   
                                <li class="like-comment" ng-init="indexNo=$index" ng-click="showCommentBox=!showCommentBox"> <img src="img/reply-icon.png" alt="comment"></li>
                                <li class="like-comment">{{activity.comments.length}}</li>
                                
                                <li ng-if="activity.likes.indexOf(user.id) == -1" class="like-comment" ng-click="likeActivity(activity)"><a href="javascript:"><img src="img/heart-icon.png"></a></li>


                                <li ng-if="activity.likes.indexOf(user.id)>-1" class="like-comment" ng-click="likeActivity(activity)"><a href="javascript:"><img src="img/heart-icon-green2.png"></a></li>
                            
                                <li class="like-comment">{{activity.likes.length}}</li>

                                <li class="like-comment" ng-if="user.id == activity.user.id" ng-click="ActivityDelete(activity,activity.id)"><img class="activity-delete-icon"src="img/delete.png">Delete</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="task-container-right pull-left clearfix">
                <div class="dropdown">
                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li>delete</li>
                        <li>edit</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class ="task-comment clearfix">
           <h3>Comments</h3>    
        </div>
        <div id="comment-box" class="clearfix">
            <form>
                <input type="text" ng-model="activity.comment" class="commentbox">
                
                <div class="comment-box-footer clearfix">
                    <button type="submit" class="add-comment-btn btn pull-right" ng-click="addComment(activity); showCommentBox=!showCommentBox" ng-disabled="activity.comment.$error.required">Add Comment</button>
                </div>
            </form>
        </div> <!--end of comment box-->
        <div ng-repeat="comment in activity.comments">
            <!-- {{comment}} -->
            <div class="acts-sub clearfix">
                <div class="acts-img">
                    <img ng-if="!user.avatar || user.avatar == '' || user.avatar == undefined || user.avatar == null" src="img/default-pic.png" alt="No Image" class="pro-pic">
                    <!-- <img src="img/img-5.png" alt="profile-pic"> -->
                    <img ng-if="user.avatar" class="pro-pic-small ng-scope" src="{{comment.userInfo.avatar}}">
                </div>
                 <div class="acts-discription" >
                    <p>
                        <a href="#/profile/{{activity.userInfo.id}}"><span>{{comment.userInfo.name}} </span></a>{{comment.comment}}
                    </p>
                    <ul>
                        <li class="like-comment timer"> {{comment.createdAt | date:'short'}} </li>

                        <li ng-if="comment.likes.indexOf(user.id) == -1" class="like-comment" ng-click="likeComment(activity,comment.id,comment)"><a href="javascript:"><img src="img/heart-icon.png"></a></li>

                        <li ng-if="comment.likes.indexOf(user.id) >-1" class="like-comment" ng-click="likeComment(activity,comment.id,comment)"><a href="javascript:"><img src="img/heart-icon-green2.png"></a></li>
                    
                        <li class="like-comment">{{comment.likes.length}}</li>
                    </ul>
                    
                    
                </div><!--end acts-discription -->
            </div><!--end acts-sub-->
        </div>
    </div> <!-- end of task wrapper -->
</div>      

<div ng-include="'views/modals.html'"></div>