<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
  <div class="content">
    <sidebar></sidebar>
    <div class="common-div clearfix" ng-controller="projectController">
      <div class="task-head-nav">
        <li class="active-task" ng-click="myTask($event)">My Tasks</li>
        <li ng-click="assignedTask($event)">Assigned Task</li>
        <!-- <li>All Task</li> -->
        <button data-toggle="modal" data-target="#task-modal" class="task-head-button">Create Task</button>
        <div class="clear"></div>
      </div>
      <div class="task-body-nav">
        <li class="active-task-body tasks-open" ng-if="showMyTask" ng-click="myTask($event)">Open</li>
        <li class="active-task-body tasks-open" ng-if="showAssignedTask" ng-click="assignedTask($event)">Open</li>
        <li ng-click="inProgress($event)">In Progress</li>
        <li ng-click="completed($event)">Completed</li>
        <select class="task-body-select" ng-model="task.project">
          <option value="">All Projects</option>
          <option ng-repeat="project in projects" id ="{{project.id}}" value="{{project.id}}" >{{project.name}}</option>
        </select>
      </div>
      <div class="clearfix">
        <!-- <p ng-if="noTasksAssignedToU">No Tasks Assigned To You Yet</p>
        <p ng-if="noTasksAssignedByU">No Tasks Assigned By You</p> -->
      <div ng-if="alltasks" class="task-container clearfix" ng-repeat = "task in tasks | filter:task.project">
        <div class="task-body-container1" >
          <span class="task-open-heading">{{task.name}}</span>
          <p>{{task.description}}</p>
          <li class="task-open-dates">Assigned Date:{{task.createdAt | date}}</li>
          <li class="task-open-dates">Due date:{{task.duedate | date}}</li>
          <li class="task-open-dates">Project Name:{{task.project.name}}</li>
          <select ng-if="task.assignedBy.id != user.id" class="task-body-select" ng-model="task.status" ng-change="taskStatus(task.status,task.id)">
            <option value="">status</option>
            <option value="In progress">InProgress</option>
            <option value="Completed">Completed</option>
          </select>
          <span ng-if="task.assignedBy.id == user.id">Status:{{task.status}}</span>
        </div>
      </div>


      <div ng-if="progress" class="task-container clearfix" ng-repeat = "task in inProgressTasks | filter:task.project">
        <div class="task-body-container1" >
          <span class="task-open-heading">{{task.name}}</span>
          <p>{{task.description}}</p>
          <li class="task-open-dates">Assigned Date:{{task.createdAt | date}}</li>
          <li class="task-open-dates">Due date:{{task.duedate | date}}</li>
          <li class="task-open-dates">Project Name:{{task.project.name}}</li>
          <select ng-if="task.assignedBy.id != user.id" class="task-body-select" ng-model="task.status" ng-change="taskStatus(task.status,task.id)">
            <option value="NOt Started">status</option>
            <option value="inprogress">InProgress</option>
            <option value="completed">Completed</option>
          </select>
          <span ng-if="task.assignedBy.id == user.id">Status:{{task.status}}</span>
        
        </div>
    
      </div>

      <div ng-if="finished" class="task-container clearfix" ng-repeat = "task in completedTasks | filter:task.project">
        <div class="task-body-container1" >
          <span class="task-open-heading">{{task.name}}</span>
          <p>{{task.description}}</p>
          <li class="task-open-dates">Assigned Date:{{task.createdAt | date}}</li>
          <li class="task-open-dates">Due date:{{task.duedate | date}}</li>
          <li class="task-open-dates">Project Name:{{task.project.name}}</li>
          <select ng-if="task.assignedBy.id != user.id" class="task-body-select" ng-model="task.status" ng-change="taskStatus(task.status,task.id)">
            <option value="">status</option>
            <option value="inprogress">InProgress</option>
            <option value="completed">Completed</option>
          </select>
          <span ng-if="task.assignedBy.id == user.id">Status:{{task.status}}</span>
        
        </div>
    
      </div>
  <!-- <div class="task-body-right">
	  <span>Assigned by</span>
	  <img src="img/rightdp.png"><br>
	  <div>
	    <li><img src="img/reply.png"> 5</li>
      <li><img src="img/heart.png"> 3</li>
    </div>
  </div> -->
  <!-- <div class="clear">
  </div> -->
  
  </div>
  </div>
  </div>


  <div ng-include="'views/modals.html'"></div>