<div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
<div class="content">
    <sidebar></sidebar>
    <div class="common-div">
	    <div class="home-page3">
			<div class="home-page3-head">
				<span>List of Workspaces</span>
				<button ng-if="user.role == 'admin'" class="btn-green pull-right" data-toggle="modal" data-target="#workspace-modal">Create Workspce</button>
				<input type="text" ng-model="name"><img src="img/search.png">
			</div>

			<div class="home-page3-profile clearfix" >
				<p class="project-name" ng-repeat = "workspace in workspaces |filter:name track by $index">
					<button ng-if="user.role == 'admin'" class="close-btn" title="delete this workspace" ng-click="deleteWorkspace(workspace.id)">x</button>
					<a href="#/workspaces/{{workspace.id}}">{{workspace.name}}</a>
				</p>
			</div>
		</div>
	</div>
</div>
<div ng-include="'views/modals.html'"></div>
