<div id="wrapper">
	<div class="empty-div"> 
 		<headernavigation userdata="info"></headernavigation>
 	</div>
 	<div class="content">
 		<sidebar></sidebar>

    	<section id="container" class="clearfix">
    		
			<div class="workspacelist clearfix">
    			<div class="workspacedropdown">
    				<select>
				    	<!-- <option value="">Select Workspace</option> -->
				    	<option ng-repeat="workSpace in workSpaces" id ="workspace-{{workSpace.id}}" value="{{workSpace.id}}" >{{workSpace.name}}</option>
					</select>
					<!-- <button class="btn-green pull-right" data-toggle="modal" data-target="#workspace-modal">Create Workspace</button> -->
				</div>
			</div>
    		
    		<div id="left">
    			<div id="my-contacts">
					<div class="mycontacts-header clearfix">
						<h2>Projects <span class="number">{{projects.list.length}}</span></span></h2>
						<div id="project-1" ng-repeat = "project in projects.list | limitTo : 3"> 
							<p class="left-column">
							<a href="#/project/{{project.id}}">{{project.projectname}}</a>
							</p>

							<p class="right-column">{{project.user.length}} members</p>
						</div>

						
					</div><!--end my contacts-header-->

					<div class="profile-pics clearfix">

						<ul class="clearfix">
						<li ng-repeat="contact in Contact.list"><a href="#/profile1{{contact.id}}"><img src="img/img-1.png" alt="profile-pic"></a></li>
						</ul>
					</div><!--end profile pics-->  
				</div>
    		
    		</div>
	  		<div id="right" class="clearfix">

	        	<updateactivity></updateactivity>

		        <div id="activities">
		          <activities></activities>
		        </div><!--end activities-->

      		</div>
  
    
      
      	</section>
 	</div>
</div>
<div ng-include="'views/modals.html'"></div>