<!-- <div class="empty-div"> 
  <headernavigation></headernavigation>
</div>
  <div class="content">
    <sidebar></sidebar>
    <div class="common-div">
      <div class="profile">
        <div class="profile-head">
          <span class="name">ADD WORKSPACE</span>
          <div class="clear"></div>
        </div>
        <div class="basic-profile">
          <div class="bio">
            <div class="add-workspace">
              <form action="">
                <div>
                  <label for="">Workspace Name</label>
                  <input type="text" ng-model="data.name" min-length="3">
                </div>
                <button ng-click="createWorkspace()">Add</button>
              </form>
            </div>
            <div class="clear"></div>
          </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div> -->